.register-info {
    width: 50%;
    margin: 0 auto;
}

.register-info input {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;

}

.register-btn {
    background-color: aqua;
}

.register-btn:hover {
    background-color: aquamarine;
}